In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings(action='ignore')

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [2]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')
age_gender_info = pd.read_csv('../data/age_gender_info.csv')

In [3]:
test.groupby('단지코드').count()

,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
단지코드,,,,,,,,,,,,,
C1003,8,8,8,8,8,8,8,8,8,8,8,8,8
C1006,27,27,27,27,27,27,27,27,4,4,27,27,27
C1016,4,4,4,4,4,4,4,4,4,4,4,4,4
C1019,4,4,4,4,4,4,4,4,4,4,4,4,4
C1030,6,6,6,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2653,4,4,4,4,4,4,4,4,4,4,4,4,4
C2675,8,8,8,8,8,8,8,8,8,8,8,8,8
C2676,46,46,46,46,46,46,46,46,3,3,46,46,46
C2688,6,6,6,6,6,6,6,6,6,6,6,6,6
C2691,3,3,3,3,3,3,3,3,3,3,3,3,3

In [12]:
test['rank']=test.groupby('단지코드')[['전용면적별세대수','전용면적']].rank(method='max',ascending=False)

In [20]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,rank
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0,3.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0,8.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0,4.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0,2.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0,1.0
1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0,2.0
1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0,4.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0,1.0
1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0,3.0

In [18]:
test_r = test.loc[test['rank']==1]

In [19]:
test_r

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,rank
6,C1072,754,아파트,경기도,국민임대,51.96,198,14.0,H,43497000,296780,0.0,2.0,683.0,1.0
15,C1128,1354,아파트,경기도,국민임대,51.96,416,9.0,H,43497000,296780,0.0,3.0,1216.0,1.0
24,C1456,619,아파트,부산광역시,국민임대,51.93,132,18.0,A,43257000,264350,0.0,16.0,547.0,1.0
26,C1840,593,아파트,전라북도,국민임대,39.57,253,7.0,A,14418000,108130,0.0,3.0,543.0,1.0
30,C1332,1297,아파트,경기도,국민임대,39.99,282,11.0,H,28598000,203050,0.0,2.0,1112.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,C2456,349,아파트,제주특별자치도,국민임대,37.79,138,17.0,H,13685000,169230,0.0,4.0,270.0,1.0
1002,C1266,596,아파트,충청북도,국민임대,37.45,272,35.0,H,15709000,212500,0.0,1.0,593.0,1.0
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,-,-,0.0,1.0,40.0,1.0
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0,1.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0,1.0

In [17]:
test['rank']=test.sort_values(['전용면적별세대수','전용면적'],ascending=False).groupby('단지코드').rank(method='first',ascending=False)